table{
    width: 50%;
    margin : auto;
}

th{
    width: 35%;
    text-align: left;
    font-weight: 400;
}

td{
    width: 65%;
    text-align: left;
    padding: 0.3em;
}

.name{
    font-weight: 600;
}

.buttons_container{
    display : flex;
    width: 100%;
    justify-content: center;
}

.delete{
    width : fit-content;
    color: white;
    border-radius : 0.5em;
    background-color: #b0001b;
    margin : 1em;
    padding: 0.5em 1em;
}

.delete:hover{
    background-color: #c74c5f;
    cursor: pointer;
}

.button{
    height: fit-content;
    margin: 1em;
}

#addNote{
    margin: auto auto 1em;
}

.notes_table{
    border : 1px solid;
    border-collapse: collapse;
}

.metadata{
    border : 1px dashed;
}

.row_title{
    padding: 0.3em;
}

.content{
    width : 100%;
}

